{% extends '::base.html.twig' %}

{% block content %}



    <div>

        <h2>Le Prix a bien été modifié</h2>

    </div>

    </br>
    <a href="{{ path('accueil_platform') }}">ACCUEIL</a>


{% endblock%}