{% extends '::base.html.twig' %}

{% block content %}



        <div>

              <h2>Plaque ajoutée avec succès</h2>

        </div>

        <a href="{{ path('plaque_platform') }}">Retour à la liste de plaques</a>
        </br>
        <a href="{{ path('accueil_platform') }}">ACCUEIL</a>


{% endblock%}