{% extends '::base.html.twig' %}

{% block content %}

    <div>
        <h2> Pas d'action pour le profil administrateur</h2>

        <a href="{{ path('accueil_platform') }}">ACCUEIL</a>
    </div>


{% endblock %}