{% extends '::base.html.twig' %}

{% block content %}

    <div>
          <p> Layout de base </p>
    </div>


    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>


{% endblock %}